/* Scrollbar customization for Webkit-based browsers (Chrome, Safari) */
/* General scrollbar properties */
.myscrooll::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

/* Scrollbar thumb (sliding bar) */
.scrooll-progress::-webkit-scrollbar-thumb {
  background-color: purple; /* scrollbar color */
  border-radius: 6px; /* scrollbar corner radius */
}

.scrooll-completed::-webkit-scrollbar-thumb {
  background-color: green; /* scrollbar color */
  border-radius: 6px; /* scrollbar corner radius */
}

/* Hover effect when mouse is over the scrollbar */
.myscrooll::-webkit-scrollbar-thumb:hover {
  background-color: #0e30c9; /* scrollbar color on hover */
}

/* Scroll track (scrollbar background) */
.myscrooll::-webkit-scrollbar-track {
  background: #f1f1f1; /* scrollbar background color */
}

.title {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding-top: 0.5rem;
}
